# Dependencies
node_modules/

# Build outputs
dist/
build/
*.tsbuildinfo

# Environment & local config
.env
.env.local

# Logs & Testing
*.log
npm-debug.log*
coverage/

# OS & Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Assets
assets/thumbs